<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Golden Vapor</title>
  </head>
  <body>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Golden Vapor</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to "Home", root_path %>
                </li>
                <li class="active">Mods</li>
            </ol>
        </div>
    </div>
  </body>
</html>
