<% provide(:title, 'Events') %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Events
            <small>Golden Vapor</small>
        </h1>
        <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %>
            </li>
            <li class="active">Mods</li>
        </ol>
    </div>
</div>
