<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Golden Vapor</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Help page for Golden Vapor
    </p>
  </body>
</html>
