<!DOCTYPE html>
<html>
  <body id="top page" class="index">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home
                <small>Golden Vapor</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
        </div>
    </div>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--<img src="/GoldenGoldIcon.png" class="img-responsive img-circle" alt=""> -->
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>

                    </span>
                    <h4 class="service-heading">Comfortable Lounge</h4>
                    <p class="text-muted">Our place is not just here to sell you items. Anyone is welcome to come and socially vape in our comfy lounge. We got fusball!!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eyedropper fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mods and E-Juice</h4>
                    <p class="text-muted">Golden VAPOR. In case you didn't catch the reference, we sell all kinds of mods, juices and accessories for all types of Vapes(right word?).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-empire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Awesomeness</h4>
                    <p class="text-muted">We're also just pretty cool to hang out with...Well at least some people think we are...</p>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
